/* HEADER  */
header {
    padding: 10px 0;
    position: relative;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: #7614c9;
}

.titles.middle {
  position: relative;
  left:0;
  top:0;
  transform: translateX(0);
}

header>.titles:first-child {
  padding: 10px 0;
  text-align: center;
  order: 1;
  margin: 0;
}

header>.titles:last-child {
  order: 2;
}


/* CARD LIST */

/* HOMEWORK */
